
.form{
    margin: auto;
}
.my-min-height{
    min-height: 100vh;
}
.my-bg-light{
    background-color: rgba(255, 255, 255, 0.144);
    min-width: 36vw;
}
.my-input{
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 5px;
    font-size: 16px;
}
.my-input:focus{
    outline: none;
    border-bottom: 1px solid white;
}
::placeholder{
    color: white;
}
.my-a-decoration{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.863);
    font-size: 15px;
}
.my-a-decoration:hover{
    color:red;
}
.my-sp-decoration{
    color: rgba(255, 255, 255, 0.863);
    font-size: 15px;
}
.my-fs-sm{
    font-size: 14px;
}
.email{
    position: relative;
}
.emailIcon{
    position: absolute;
    bottom: 7px;
    left: 14px;
}
.password{
    position: relative;
}
.passIcon{
    position: absolute;
    bottom: 7px;
    left: 14px;
}
.errBox{
    height: 26px;
    font-size: 14px;
}