.img-poster-card{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.wc-word-set{
    word-spacing: 3px;
    letter-spacing: 2px;
}